* filter=lfs diff=lfs merge=lfs
* binary

# Untrack text files from LFS,
# diff them as text, and don't
# normalise line-endings.
*.txt			-text !filter !diff !merge
*.bat			-text !filter !diff !merge
*.sh			-text !filter !diff !merge
*.md			-text !filter !diff !merge
.gitattributes	-text !filter !diff !merge
.gitignore		-text !filter !diff !merge